<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/angular-loading-bar/build/loading-bar.min.js"></script>
<script type="text/javascript" src="/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/bootstrap-datetime-picker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<!--build:js javascripts/all.min.js -->
<script type="text/javascript" src="/js/common.js"></script>
<!--/build-->

<script type="text/javascript">
    $(function(){
        $('#logout').on('click',function(){
            BootstrapDialog.show({
                title: '提示',
                message: '<i class="icon-model anticon anticon-question-circle"></i>' +
                '<span class="ant-confirm-title">请确认是否退出系统</span>',
                buttons: [{
                    label: '取消',
                    cssClass: 'btn-model btn-default',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: '确认',
                    cssClass: 'btn-model btn-ant',
                    action: function (dialogItself) {
                        window.location.href = '/logout';
                        dialogItself.close();
                    }
                }],
                type: BootstrapDialog.TYPE_DEFAULT
            });
        })
    })
</script>
</div>
</body>
</html>