<footer class="foot" class="text-center">
    <div class="container" style="color: #ccc;text-align:center;font-size: 14px;padding: 12px;">
        <span>开放平台解决方案</span>
        <!--<p>Powered by Prism &copy;shopex 2014.</p>-->
    </div>
</footer>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/react/dist/react.min.js"></script>
<script type="text/javascript" src="/react-dom/dist/react-dom.min.js"></script>
<script type="text/javascript" src="/antd/dist/antd.min.js"></script>
<!--<script type="text/javascript" src="/bootstrap-dialog/dist/js/bootstrap-dialog.min.js"></script>-->
<!--<script type="text/javascript" src="/dist/js/bundle.js"></script>-->
<script type="text/javascript" src="http://localhost:5000/public/dist/js/bundle.js"></script>
<!--build:js javascripts/all.min.js -->
<!--<script type="text/javascript" src="/js/main.js"></script>-->
<!--<script type="text/javascript" src="/js/a.js"></script>-->
<!--<script type="text/javascript" src="/js/b.js"></script>-->
<!--/build-->
</body>
</html>