<!DOCTYPE html>
<html>
<head>
    <title>Shopex开放平台</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-dialog/dist/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="/antd/dist/antd.min.css" />
    <!--build:css stylesheets/wapmain.min.css -->
    <link rel='stylesheet' href='/css/main.css' />
    <!--/build-->

</head>
<body>
<div class="fc-body">
    <div class="header">
        <div class="container">
            <div class="login-container">
                <a>
                    开发平台后台管理系统
                </a>
            </div>

        </div>
    </div>
