<!DOCTYPE html>
<html>
<head>
    <title>Shopex开放平台</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />

    <!--build:css stylesheets/wapmain.min.css -->
    <link rel='stylesheet' href='/css/main.css' />
    <!--/build-->

</head>
<body>
<div class="fc-body">
<div class="header">
    <div class="container">
        <div class="login-container">
            <a>
                消息中心开放平台
            </a>
        </div>
        <ul class="nav navbar-nav navbar-menu pull-right">
            <li ><a href="/apis">API</a></li>
            <li ><a href="#">开发者手册</a></li>
            <li ><a href="/my/app">我的服务</a></li>
        </ul>

    </div>
</div>


