<% include ../common/header.ejs %>
<style type="text/css">
    .user-img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #cdcdcd;
        border-radius: 16px;
        background-color: #cdcdcd;
        text-align: center;
        margin-right: 5px;
    }

    .user-img i {
        font-size: 20px;
        line-height: 32px;
        color: #FFF;
    }
</style>
<div class="content" ng-app="myApp" ng-controller="appCtrl">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>通讯管理</h4>
        </div>
        <div class="ant-search-input-wrapper" style="width: 200px;margin-bottom: 10px;">
            <span class="ant-input-group ant-search-input">
                <span class="ant-input-wrapper">
                    <input type="text" placeholder="人员编号或名称" value="" class="ant-input"
                           ng-model="keyword">
                </span>
                <div class="ant-input-group-wrap">
                    <button type="button" ng-click="keywordSearch()" class="ant-btn ant-btn-icon-only ant-search-btn">
                        <i class="anticon anticon-search"></i></button>
                </div>
            </span>


        </div>
        <% if(weixinserver) { %>
        <a class="btn btn-ant" style="float: right;position: relative;top: -5px; margin-left: 5px;" ng-click="getwx()">获取微信通讯录</a>
        <% } %>

        <a class="btn btn-ant" style="float: right;position: relative;top: -5px;" ng-href="/member/new">新建人员</a>


        <div class="ant-table ant-table-large ant-table-scroll-position-left">
            <div class="ant-table-content">
                <div class="ant-table-body">
                    <table class="">
                        <thead class="ant-table-thead">
                        <tr>
                            <th class=""><span>姓名</span></th>
                            <th class=""><span>人员编号</span></th>
                            <th class=""><span>状态(微信)</span></th>
                            <th class=""><span>手机</span></th>
                            <th class=""><span>邮箱</span></th>
                            <th class=""><span>操作</span></th>
                        </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                        <tr class="ant-table-row  ant-table-row-level-0" ng-repeat="item in table">
                            <td class="">
                                <!--<span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>-->
                                <!--<a href="#">{{item.fd_shopexid}}</a>-->
                                <img class="user-img" ng-src="{{item.c_avatar}}" ng-if="item.c_avatar != ''">
                                <span class="user-img" ng-if="item.c_avatar == ''">
                                    <i class="anticon anticon-user"></i>
                                </span>
                                {{item.c_name}}
                            </td>
                            <td class="">
                                {{item.c_userno}}
                            </td>
                            <td class="">
                                {{item.c_sync == 0 ? '未同步': '已同步'}}
                                <% if(item.c_sync == 1) { %>
                                    <% if(item.c_status == 1) { %>
                                        (已关注)
                                    <% } else if(item.c_status == 2) { %>
                                        (已禁用)
                                    <% } else if(item.c_status == 4) { %>
                                        (未关注)
                                    <% }%>
                                <% } %>
                            </td>
                            <td class="">{{item.c_mobile}}</td>
                            <td class="">{{item.c_email}}</td>
                            <td class="">
                                <span>
                                    <a ng-href="/member/edit/{{item.c_userno}}">编辑</a>
                                    <span class="ant-divider"></span>
                                    <a ng-click="delete()">删除</a>
                                    <!--<% if(weixinserver) { %>-->
                                    <!--<span class="ant-divider"></span>-->
                                    <!--<a href="#" title="同步到微信" ng-click="sync()">-->
                                        <!--同步-->
                                        <!--&lt;!&ndash;<i class="anticon anticon-loading"></i>同步中...&ndash;&gt;-->
                                    <!--</a>-->
                                    <!--<% } %>-->
                                    <!--<a href="#" class="ant-dropdown-link">更多-->
                                        <!--<i class="anticon anticon-down"></i>-->
                                    <!--</a>-->
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: right">
                <ul class="ant-pagination ant-table-pagination" unselectable="unselectable">
                    <li style="display: inline-block;
                        float: left;
                        position: relative;
                        right: 10px;
                        top: 4px;">
                        <a>
                            <span>共{{param.count}}条</span>
                        </a>
                    </li>
                    <li title="上一页"
                        class="ant-pagination-prev"
                        ng-click="prev()"
                        ng-class="{1:'ant-pagination-disabled'}[param.pagenum]"><a></a></li>
                    <li title="{{pag.key}}"
                        class="ant-pagination-item"
                        ng-class="{true:'ant-pagination-item-active'}[pag.active]"
                        ng-click="showpage()"
                        ng-repeat="pag in pagination"><a>{{pag.key}}</a></li>
                    <li title="下一页"
                        class="ant-pagination-next"
                        ng-click="next()"
                        ng-class="{true:'ant-pagination-disabled'}[param.pagenum == param.pages]"
                            ><a></a></li>
                </ul>
            </div>
        </div>


    </div>
</div>
<% include ../common/footer.ejs %>

<script type="text/javascript">
    angular.module('myApp', ['angular-loading-bar'])
            .config(['$httpProvider', 'cfpLoadingBarProvider', function ($httpProvider, cfpLoadingBarProvider) {
                cfpLoadingBarProvider.includeSpinner = true;
                cfpLoadingBarProvider.latencyThreshold = 5;
            }])
            .run(function (cfpLoadingBar) {
                cfpLoadingBar.start();
                cfpLoadingBar.complete();

            })
            .controller('appCtrl', ['$scope', '$http', 'cfpLoadingBar', function ($scope, $http, cfpLoadingBar) {
                $scope.table = [];
                $scope.keyword = ''; //默认账号名
                $scope.filtes = {
                    utype1: false,
                    utype2: false
                }
                //查询参数
                $scope.param = {
                    pagenum: 1,    //页码
                    pagesize: 10,        //页大小
                    count: 0,
                    pages: 0,
                    searchParams: {
                        filters: [],
                        logic: 'OR'
                    }
                }

                //查询所有用户
                $scope.getAppApplyList = function (index) {
                    $scope.param.pagenum = index || $scope.param.pagenum;
                    $scope.param.searchParams = {
                        filters: [],
                        logic: 'OR'
                    }
                    if ($scope.keyword != '') {
                        var array = [];
                        array.push(
                                {
                                    filed: 'c_userno', operator: 'like', value: $scope.keyword
                                }, {
                                    filed: 'c_name', operator: 'like', value: $scope.keyword
                                });
                        $scope.param.searchParams['filters'] = array;
                    }
                    var fd_utype_filter = {
                        filters: [],
                        logic: 'OR'
                    };
                    if ($scope.filtes.utype1) {
                        fd_utype_filter.filters.push({filed: 'app_type', operator: 'eq', value: 1});
                    }
                    if ($scope.filtes.utype2) {
                        fd_utype_filter.filters.push({filed: 'app_type', operator: 'eq', value: 2});
                    }

                    if (fd_utype_filter.filters.length > 0) {
                        $scope.param.searchParams['filters'].push(fd_utype_filter);
                    }

                    $http.post('/getMemberByUser', $scope.param).success(function (result) {
                        if (result.status == '0000') {
                            $scope.table = result.data.datasouce;
                            $scope.param.pagenum = result.data.pagenum;
                            $scope.param.pages = result.data.pages;
                            $scope.param.pagesize = result.data.pagesize;
                            $scope.param['count'] = result.data.count;

                            $scope.pagination = [];
                            for (var i = 1; i <= $scope.param.pages; i++) {
                                $scope.pagination.push({
                                    key: i,
                                    active: i == $scope.param.pagenum ? true : false
                                })
                            }
                        }
                    });
                }

                $scope.getAppApplyList();

                //切换用户
                $scope.checkUType1 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.filtes.utype1 = !$scope.filtes.utype1;
                }
                $scope.checkUType2 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.filtes.utype2 = !$scope.filtes.utype2;
                }

                $scope.reset = function ($event) {
                    $event.stopPropagation();
                    $scope.filtes = {
                        utype1: false,
                        utype2: false
                    }
                }

                $scope.keywordSearch = function () {
                    $scope.getAppApplyList(1);
                }

                $scope.showpage = function () {
                    $scope.param.pagenum = this.pag.key;    //页码
                    $scope.getAppApplyList();
                }

                $scope.prev = function () {
                    if ($scope.param.pagenum > 1) {
                        $scope.param.pagenum--;
                        $scope.getAppApplyList();
                    }
                }

                $scope.next = function () {
                    if ($scope.param.pagenum < $scope.param.pages) {
                        $scope.param.pagenum++;
                        $scope.getAppApplyList();
                    }
                }

                $scope.getwx = function () {
                    BootstrapDialog.show({
                        title: '提示',
                        message: '<i class="icon-model anticon anticon-question-circle"></i>' +
                        '<span class="ant-confirm-title">确认将微信通讯录覆盖到本地</span>',
                        buttons: [{
                            label: '取消',
                            cssClass: 'btn-model btn-default',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }, {
                            label: '确认',
                            cssClass: 'btn-model btn-ant',
                            action: function (dialogItself) {
                                $http.get('/getweixinUsers').success(function (result) {
                                    if (result.status == '0000') {
                                        $scope.getAppApplyList();
                                    }
                                });
                                dialogItself.close();
                            }
                        }],
                        type: BootstrapDialog.TYPE_DEFAULT
                    });
                }

                $scope.delete = function(){
                    BootstrapDialog.show({
                        title: '提示',
                        message: '<i class="icon-model anticon anticon-question-circle"></i>' +
                        '<span class="ant-confirm-title">确认是否删除</span>',
                        buttons: [{
                            label: '取消',
                            cssClass: 'btn-model btn-default',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }, {
                            label: '确认',
                            cssClass: 'btn-model btn-ant',
                            action: function (dialogItself) {
                                $http.post('/deleteMember', {
                                    mem_id: self.item.c_id,
                                }).success(function (result) {
                                    if (result.status == '0000') {
                                        $scope.getAppApplyList();
                                    }
                                });
                                dialogItself.close();
                            }
                        }],
                        type: BootstrapDialog.TYPE_DEFAULT
                    });
                }

                $scope.sync = function () {
//                    BootstrapDialog.show({
//                        title: '提示',
//                        message: '<i class="icon-model anticon anticon-question-circle"></i>' +
//                        '<span class="ant-confirm-title">确认同步到微信</span>',
//                        buttons: [{
//                            label: '取消',
//                            cssClass: 'btn-model btn-default',
//                            action: function (dialogItself) {
//                                dialogItself.close();
//                            }
//                        }, {
//                            label: '确认',
//                            cssClass: 'btn-model btn-ant',
//                            action: function (dialogItself) {
//                                $http.post('/applyservice', {
//                                    serviceid: self.item.c_serviceid,
//                                    servicename: self.item.c_servicename
//                                }).success(function (result) {
//                                    if (result.status == '0000') {
//                                        self.item.c_apply_status = 1;
//                                        self.item.c_apply_time = result.data;
//                                    }
//                                });
//                                dialogItself.close();
//                            }
//                        }],
//                        type: BootstrapDialog.TYPE_DEFAULT
//                    });
//                    var params = [];
//                    _.each($scope.table, function (value, key) {
//                        params.push(value.c_userno);
//                    })
//                    $http.post('/member/sync', {c_userno: params})
//                            .success(function (result) {
//                                if (result.status == '0000') {
//
//                                }
//                                else {
//
//                                }
//                            })
                }
            }])
</script>