<% include ../common/header.ejs %>

<div class="content">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>新建人员</h4>
        </div>
        <form id="loginForm" class="new-form" style="width: 500px;margin-left: 10px;">
            <div class="type-input">
                <div class="form-group">
                    <label for="template_no">人员编号:</label>
                    <input type="text" class="form-control" id="userno" name="userno"
                           placeholder="人员编号">
                </div>
                <div class="form-group">
                    <label for="template_content">姓名:</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="姓名">
                </div>
                <div class="form-group">
                    <label for="template_desc">手机:</label>
                    <input type="text" class="form-control" id="mobile" name="mobile"
                           placeholder="手机">
                </div>
                <div class="form-group">
                    <label for="template_desc">邮箱:</label>
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="邮箱">
                </div>
                <div class="form-group last" style="margin-top: 30px;">
                    <button type="submit" class="btn btn-ant">保存</button>
                </div>
            </div>
        </form>

    </div>
</div>
<% include ../common/footer.ejs %>
<script type="text/javascript" src="/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.new-form').validate({
            errorElement: 'span',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                userno: {
                    required: true,
                    remote: {
                        type: "post",
                        url: "/member/checkno",
                        data: {
                            userno: function () {
                                return $("#userno").val();
                            }
                        },
                        dataType: "json",
                        dataFilter: function (data, type) {
                            data = JSON.parse(data);
                            if (data.status == '0000')
                                return true;
                            else
                                return false;
                        }
                    }
                },
                name: {
                    required: true
                },
                mobile: {
                    required: true
                },
                email: {
                    required: true
                }
            },
            messages: {
                userno: {
                    required: "人员编号不能为空!",
                    remote: '模板编号已经存在!'
                },
                name: {
                    required: "姓名不能为空!"
                },
                mobile: {
                    required: "手机号不能为空!",
                },
                email: {
                    required: "邮箱不能为空!"
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                element.parent('div').append(error);
            },

            submitHandler: function (form) {
                //form.submit();
                $.post('/member/save', {
                    userno: $('#userno').val(),
                    name: $('#name').val(),
                    mobile: $('#mobile').val(),
                    email: $('#email').val()
                }, function (result) {
                    if (result.status == '0000') {
                        location.href = '/member';
                    }
                    else {
                        BootstrapDialog.show({
                            title: '提示',
                            message: '<i class="icon-model anticon anticon-cross-circle"></i>' +
                            '<span class="ant-confirm-title">' + result.message + '</span>',
                            type: BootstrapDialog.TYPE_DEFAULT,
                            onshow: function (dialogRef) {
                                setTimeout(function () {
                                    dialogRef.close();
                                }, 2000);
                            }
                        });
                    }
                })
            }
        });

//        $('.form-horizontal input').keypress(function (e) {
//            if (e.which == 13) {
//                if ($('.form-horizontal').validate().form()) {
//                    $('.form-horizontal').submit();
//                }
//                return false;
//            }
//        });
    });
</script>