<% include common/header_login.ejs %>
<div class="container-body">
    <div class="container">
        <div class="main-page">
            <form id="loginForm" class="signup-form">
                <h2>欢迎登录
                    <!--<a class="text-info hidden-xs" href="/user/reg"-->
                    <!--style="position: absolute; right: 0;font-size:12px;float:right;line-height: 26px;">没有账号？去注册</a>-->
                </h2>
                <div class="type-input">
                    <div class="form-group">
                        <label for="username">登录账号:</label>
                        <input type="tel" class="form-control" id="username" name="username"
                               placeholder="请输入登录账号">
                    </div>
                    <div class="form-group">
                        <label for="password">登录密码:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd"
                               placeholder="请输入登录密码">
                    </div>
                    <div class="form-group last" style="margin-top: 30px;">
                        <button type="submit" class="btn btn-success btn-block next">登录</button>
                    </div>
                    <div style="    text-align: center;">
                        <a href="/signup" style="margin: auto">注册</a>

                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
<% include common/footer.ejs %>
<script type="text/javascript" src="/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.signup-form').validate({
            errorElement: 'span',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                username: {
                    required: true
                },
                pwd: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: "账号不能为空!"
                },
                pwd: {
                    required: "密码不能为空!",
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                element.parent('div').append(error);
            },

            submitHandler: function (form) {
                $.post('/login', {
                    username: $('#username').val(),
                    pwd: $('#pwd').val()
                }, function (result) {
                    if (result.status == '0000') {
                        location.href = '/index';
                    }
                    else {
                        BootstrapDialog.show({
                            title: '提示',
                            message: '<i class="icon-model anticon anticon-cross-circle"></i>' +
                            '<span class="ant-confirm-title">' + result.message + '</span>',
                            type: BootstrapDialog.TYPE_DEFAULT,
                            onshow: function (dialogRef) {
                                setTimeout(function () {
                                    //dialogRef.close();
                                }, 2000);
                            }
                        });
                    }
                })
            }
        });
    });
</script>