html, body {
    height: 100%;
    width: 100%;
    font-family: "Microsoft YaHei", Verdana, Arial, Tahoma, sans-serif;
    background-color: #fefefe;
}

.fc-body {
    /*background: url(../images/bground.jpg);*/
    background-size: auto;
    height: 100%;
    background-color: #fefefe;
    /*margin-top: 114px;*/
    padding-top: 114px;
}

.foot {
    width: 100%;
    height: 100px;
    background: #1C262E;
}

.header {
    height: 64px;
    background-color: #404040;
    padding: 10px;
    margin-bottom: 20px;
}

.header .container {
    height: 44px;
}

.header .container .navbar-menu {
    margin-left: 20px;
}

.header .container .nav a {
    color: #fff;
}

.header .login-container {
    /*background: url(../images/yunshouding.png)no-repeat;*/
    /*background-size: 48px 48px;*/
    /*color: #e5e9ee;*/
    float: left;
    height: 50px;
    line-height: 46px;
}

.header .login-container a {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-family: "Microsoft YaHei", Verdana, Arial, Tahoma, sans-serif;
}

.main-page {
    margin-top: 0;
    background-color: #fff;
    padding: 0 40px 40px;
    border: 1px solid #D6D6D6;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.main-page .signup-form {
    position: relative;
}

.main-page h2 {
    font-size: 24px;
    color: #444;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px dashed #D6D6D6;
}

.main-page h2 a.text-info {
    position: absolute;
    right: 0;
    font-size: 12px;
    float: right;
    line-height: 26px;
}

.main-page .signup-form .type-input {
    padding: 30px 0;
    margin: 0 auto;
    max-width: 320px;
}

.error {
    color: #ff0000;
}

.nav.navbar-menu > li > a:focus, .nav.navbar-menu > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav-list {
    height: 50px;
    line-height: 50px;
    padding-left: 33px;
}

.content {
    padding: 0 5px;
    height: 100%;
}

.content .sidle-left {
    width: 200px;
    border: 1px solid #fff;
    float: left;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
}

.content .sidle-right {
    margin-left: 200px;
    /*height: 100%;*/
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .8);
    padding: 10px 20px;
}

.nav-list ul li {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.side-menu ul {
    margin-left: 20px;
}

.side-menu ul li {
    padding: 10px;
}

.btn-model {
    font-size: 13px;
    padding: 5px 15px;
}

.btn-ant {
    background-color: #2db7f5;
    color: #fff;
}

.btn-ant:hover {
    color: #fff;
    background-color: #2db7f5;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.ant-menu-sub {
    display: none;
}

.ant-menu-submenu-open .ant-menu-sub {
    display: block;
}

.ant-menu .ant-menu-submenu-title {
    padding-left: 24px;
}

.ant-menu .ant-menu-item {
    padding-left: 53px;
}

.title h4 {
    padding: 5px 5px 10px 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}

#loading-bar-spinner {
    right: 10px !important;
    top: 72px;
    left: inherit;
}

#loading-bar .bar {
    top: 64px;
}

.ant-dropdown-custom .dropdown-menu {
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-table {
    overflow: visible;
}

.ant-table table {
    overflow: visible;
}

.icon-model {
    color: #fa0;
    font-size: 24px;
    margin-right: 10px;
    padding: 0 1px;
    position: relative;
    top: 5px;
}

.ant-confirm-title {
    font-size: 13px;
}

.modal-dialog .modal-body {
    min-height: 90px;
}

.ant-message-notice-content {
    top: 80px;
    position: fixed;
}

.ant-message-notice-content .anticon {
    margin-right: 10px;
}

.ant-table-filter-dropdown-btns .ant-table-filter-dropdown-link {
    font-weight: normal;
    font-size: 13px;
}

.ant-card-head {
    height: 35px;
    line-height: 38px;
    padding: 0 12px;
}

.ant-card-body {
    padding: 12px;
}

.ant-card-body p {
    margin: 5px 0;
}

.card-inline {
    width: 400px;
    display: inline-table;
    margin-right: 13px;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-form-item-label {
    margin-top: 6px;
    margin-left: 10px;
}

.has-error .form-control {
    border-color: #f34844;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #f34844;
}

.form-control {
    font-size: 13px;
}

/*width: 186px;*/
/*border-radius: 4px;*/
/*height: 32px;*/
/*border: 1px solid #d9d9d9;*/
.dropdown-ant {
    right: 11px !important;
    border-radius: 5px !important;
}

.dropdown-ant li a {
    color: #666 !important;
}

.dropdown-menu {
    left: inherit;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #eaf8fe;
}

.custom-center:before {
    top: -22px;
    left: 129px;
    border: 11px solid transparent;
    border-bottom-color: #ccc;
}

.custom-center:before, .custom-center:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -20px;
    left: 130px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
}

.ant-table-pagination {
    float: none !important;
    display: inline-block;
}

.header {
    margin-bottom: 0px;
    position: fixed;
    backface-visibility: hidden;
    width: 100%;
    z-index: 1000;
    top: 0px;
}

.nav-list {
    position: fixed;
    top: 64px;
    z-index: 3;
    backface-visibility: hidden;
    width: 100%;
    background-color: #f3f3f3;
}

.ant-table th {
    background: #6b6b6b !important;
    color: #fefefe;
}

.ant-table th:first-child {
    border-radius: 3px 0 0 0;
}

.ant-table th:last-child {
    border-radius: 0 3px 0 0;
}

.account-info label{
    font-weight: normal;
    width: 70px;
    text-align: right;
}
.diaoyong-info label {
    font-weight: normal;
    width: 60px;
    text-align: right;
    margin-right: 5px;
}

.msg-status {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: relative;
    top: 1px;
}

.msg-status.success {
    background-color: #19ff71;
}

.msg-status.fail {
    background-color: #ff0000;
}
.diaoyong-value{
    display: inline-block;
    width: 50px;
}
.circle{
    display: inline-block;
    margin-right: 10px;
    width: 7px;
    height: 7px;
    background: #e0dddd;
    border-radius: 50%;
}
.notice .item {
    display: inline-block;
    width: 72%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select-month {
    width: 50px !important;
    min-width: inherit;
}
.select-month li{
    padding: 3px 3px !important;
    text-align: center;
}
.select-month li a{
    padding: 0px;
    /* width: 50px; */
    margin: 0px;
}