<% include ../common/header.ejs %>
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
<style type="text/css">
    .ant-form-item-label {
        text-align: right;
        vertical-align: middle;
        padding: 7px 0;
        display: inline-block;
    }

    .ant-col-10 {
        display: block;
        width: 100px;
    }

    .ant-col-14 {
        display: block;
        width: 150px;
    }

    .input-group {
        display: inline-block;
    }

    .input-group > label {
        width: 100px;
        text-align: right;
    }

    .input-group > div {
        display: inline-block;
    }


</style>
<div class="content" ng-app="myApp" ng-controller="appCtrl">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>消息日志</h4>
        </div>
        <div class="ant-search-input-wrapper" style="margin-bottom: 10px;">
            <div class="input-group">
                <label class="" style="width: inherit;">消息内容</label>

                <div>
                    <span class="ant-input-wrapper">
                        <input type="text" placeholder="消息内容" class="ant-input" ng-model="keyword">
                    </span>
                </div>
            </div>
            <div class="input-group">
                <label class="">开始日期</label>

                <div>
                    <span class="ant-calendar-picker"><span>
                    <input id="startdate"
                           readonly="" value="" placeholder="开始日期"
                           class="ant-calendar-range-picker ant-input"><span
                                    class="ant-calendar-picker-icon"></span></span></span></div>
            </div>
            <div class="input-group">
                <label class="">结束日期</label>

                <div>
                    <span class="ant-calendar-picker"><span>
                    <input id="enddate"
                           readonly="" value="" placeholder="结束日期"
                           class="ant-calendar-range-picker ant-input"><span
                                    class="ant-calendar-picker-icon"></span></span></span></div>
            </div>
            <div class="input-group">
                <label class="">
                    <button type="button" class="ant-btn ant-btn-primary" style="position: relative;top: -3px;"
                            ng-click="search()"><span>搜 索</span></button>
                </label>
            </div>
        </div>


        <div class="ant-table ant-table-large ant-table-scroll-position-left">
            <div class="ant-table-content">
                <div class="ant-table-body">
                    <table class="">
                        <thead class="ant-table-thead">
                        <tr>
                            <!--<th class=""><span>appkey</span></th>-->
                            <th class=""><span>发送时间</span></th>
                            <th class=""><span>类型</span></th>
                            <th class=""><span>消息来源</span></th>
                            <th class=""><span>发送到</span></th>
                            <th class=""><span>内容</span></th>
                            <!--<th class=""><span>状态</span></th>-->
                            <th class=""><span>失败原因</span></th>
                        </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                        <tr class="ant-table-row  ant-table-row-level-0" ng-repeat="item in table" repeat-finish>
                            <td class="">
                                <span class="msg-status"
                                      style="display: inline-block; width: 14px;height: 14px;border-radius: 7px;position: relative;top:1px;"
                                      ng-class="{1:'success',0:'fail'}[item.c_status]"></span>
                                {{item.c_create_time | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </td>
                            <td class="">
                                {{item.c_type}}
                            </td>
                            <td class="">{{item.c_from}}</td>
                            <td class="">
                                <span style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: inline-block;
                                max-width: 200px;">{{item.c_notice_to}}

                                </span>
                                <i class="icon-model anticon anticon-exclamation-circle"
                                   style="font-size: 14px;cursor: pointer;position: relative;top:-4px;"
                                   data-toggle="tooltip" data-placement="top" data-original-title="{{item.c_notice_to}}"></i>

                            </td>
                            <td class="">

                                <span style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: inline-block;
                                max-width: 200px;">
                                    {{item.c_content}}

                                </span>
                                <i class="icon-model anticon anticon-exclamation-circle"
                                   style="font-size: 14px;cursor: pointer;position: relative;top:-4px;"
                                   data-toggle="tooltip" data-placement="top" data-original-title="{{item.c_content}}"></i>
                            </td>
                            <!--<td class="">-->
                            <!--{{item.c_status}}-->
                            <!--</td>-->
                            <td class="">
                                {{item.c_desc}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: right">
                <ul class="ant-pagination ant-table-pagination" unselectable="unselectable">
                    <li style="display: inline-block;
                        float: left;
                        position: relative;
                        right: 10px;
                        top: 4px;">
                        <a>
                            <span>共{{param.count}}条</span>
                        </a>
                    </li>
                    <li title="上一页"
                        class="ant-pagination-prev"
                        ng-click="prev()"
                        ng-class="{1:'ant-pagination-disabled'}[param.pagenum]"><a></a></li>
                    <li title="{{pag.key}}"
                        class="ant-pagination-item"
                        ng-class="{true:'ant-pagination-item-active'}[pag.active]"
                        ng-click="showpage()"
                        ng-repeat="pag in pagination"><a>{{pag.key}}</a></li>
                    <li title="下一页"
                        class="ant-pagination-next"
                        ng-click="next()"
                        ng-class="{true:'ant-pagination-disabled'}[param.pagenum == param.pages]"
                            ><a></a></li>
                </ul>
            </div>
        </div>
        <!--<div id="clickme" ng-click="submit()" class="btn btn-success">clickme</div>-->
    </div>
</div>
<% include ../common/footer.ejs %>
<script type="text/javascript" src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript">
    angular.module('myApp', ['angular-loading-bar'])
            .config(['$httpProvider', 'cfpLoadingBarProvider', function ($httpProvider, cfpLoadingBarProvider) {
                cfpLoadingBarProvider.includeSpinner = true;
                //cfpLoadingBarProvider.parentSelector = '#loading-bar-container';
                cfpLoadingBarProvider.latencyThreshold = 5;
                //cfpLoadingBarProvider.spinnerTemplate = '<div><span class="fa fa-spinner" style="color: #fff">Custom Loading Message...</div>';
            }])
            .run(function (cfpLoadingBar) {
                cfpLoadingBar.start();
                cfpLoadingBar.complete();

            })
            .controller('appCtrl', ['$scope', '$http', 'cfpLoadingBar', function ($scope, $http, cfpLoadingBar) {
                $scope.table = [];
                $scope.keyword = ''; //默认账号名
                $scope.filtes = {
                    utype1: false,
                    utype2: false
                }
                //查询参数
                $scope.param = {
                    pagenum: 1,    //页码
                    pagesize: 20,        //页大小
                    count: 0,
                    pages: 0,
                    searchParams: {
                        filters: [],
                        logic: 'OR'
                    }
                }

                //查询所有用户
                $scope.getAppApplyList = function (index) {
                    $scope.param.pagenum = index || $scope.param.pagenum;
                    $scope.param.searchParams = {
                        filters: [],
                        logic: 'AND'
                    }
                    if ($scope.keyword != '') {
                        var array = [];
                        array.push(
                                {
                                    filed: 'c_content', operator: 'like', value: $scope.keyword
                                });
                        $scope.param.searchParams['filters'] = array;
                    }
                    var fd_date_filter = {
                        filters: [],
                        logic: 'AND'
                    };
                    fd_date_filter.filters.push({
                        filed: 'c_create_time',
                        operator: 'gte',
                        value: $('#startdate').val()
                    });
                    fd_date_filter.filters.push({
                        filed: 'c_create_time',
                        operator: 'lt',
                        value: moment($('#enddate').val()).add(1, 'days').format('YYYY-MM-DD')
                    });

                    if (fd_date_filter.filters.length > 0) {
                        $scope.param.searchParams['filters'].push(fd_date_filter);
                    }

                    $http.post('/getLog', $scope.param).success(function (result) {
                        if (result.status == '0000') {
                            $scope.table = result.data.datasouce;
                            $scope.param.pagenum = result.data.pagenum;
                            $scope.param.pages = result.data.pages;
                            $scope.param.pagesize = result.data.pagesize;
                            $scope.param['count'] = result.data.count;

                            $scope.pagination = [];
                            for (var i = 1; i <= $scope.param.pages; i++) {
                                $scope.pagination.push({
                                    key: i,
                                    active: i == $scope.param.pagenum ? true : false
                                })
                            }


                        }
                    });
                }


                $scope.keywordSearch = function () {
                    $scope.getAppApplyList(1);
                }

                $scope.showpage = function () {
                    $scope.param.pagenum = this.pag.key;    //页码
                    $scope.getAppApplyList();
                }

                $scope.prev = function () {
                    if ($scope.param.pagenum > 1) {
                        $scope.param.pagenum--;
                        $scope.getAppApplyList();
                    }
                }

                $scope.next = function () {
                    if ($scope.param.pagenum < $scope.param.pages) {
                        $scope.param.pagenum++;
                        $scope.getAppApplyList();
                    }
                }

                $scope.search = function () {
                    //判断选择的日期时间
                    //$scope.getAppApplyList();
                    if (moment($('#startdate').data('datepicker').getDate()).isBefore($('#enddate').data('datepicker').getDate())) {
                        $scope.getAppApplyList(1);


                    }
                    else {
                        BootstrapDialog.show({
                            title: '提示',
                            message: '开始日期不能大于结束日期',
                            type: BootstrapDialog.TYPE_DANGER,
                            onshow: function (dialogRef) {
                                setTimeout(function () {
                                    dialogRef.close();
                                }, 1000);
                            }
                        });
                    }
                }

                $('#startdate').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));
                $('#startdate').datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd',
                    autoclose: true
                });

                $('#enddate').val(moment().format('YYYY-MM-DD'));
                $('#enddate').datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd',
                    autoclose: true
                });

            }])
            .directive('repeatFinish', function () {
                return {
                    link: function (scope, element, attr) {
                        console.log(scope.$index)
                        if (scope.$last == true) {
                            //console.log('ng-repeat执行完毕')
                            $('[data-toggle="tooltip"]').tooltip();
//                            $('[data-toggle="tooltip"]').on('show.bs.tooltip', function () {
//                                $(this).attr('data-original-title', $(this).attr('title'));
//                            })
                        }
                    }
                }
            })
</script>