<% include ../common/header.ejs %>

<div class="content">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>编辑模板</h4>
        </div>
        <form id="loginForm" class="new-form" style="width: 500px;margin-left: 10px;">
            <div class="type-input">
                <div class="form-group" style="display: none;">
                    <label for="template_id">模板ID:</label>
                    <input type="text" class="form-control" id="template_id" name="template_id" disabled
                           placeholder="模板ID" value="<%= data.c_temp_id %>">
                </div>
                <div class="form-group">
                    <label for="template_no">模板编号:</label>
                    <input type="text" class="form-control" id="template_no" name="template_no" disabled
                           placeholder="模板编号" value="<%= data.c_temp_no %>">
                </div>
                <div class="form-group">
                    <label for="template_content">模板内容:</label>
                    <textarea rows="6" class="form-control" name="template_content" id="template_content"
                              placeholder="示例: 您好,{{name}}!"><%= data.c_temp_content %></textarea>
                </div>
                <div class="form-group">
                    <label for="template_desc">模板描述:</label>
                    <textarea rows="3" class="form-control" name="template_desc" id="template_desc"
                              placeholder="模板描述"><%= data.c_temp_desc %></textarea>
                </div>
                <div class="form-group last" style="margin-top: 30px;">
                    <button type="submit" class="btn btn-ant">保存</button>
                </div>
            </div>
        </form>

    </div>
</div>
<% include ../common/footer.ejs %>
<script type="text/javascript" src="/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.new-form').validate({
            errorElement: 'span',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                template_no: {
                    required: true,
                    remote: {
                        type: "post",
                        url: "/template/checkno2",
                        data: {
                            template_no: function () {
                                return $("#template_no").val();
                            }
                        },
                        dataType: "json",
                        dataFilter: function (data, type) {
                            data = JSON.parse(data);
                            if (data.status == '0000')
                                return true;
                            else
                                return false;
                        }
                    }
                },
                template_content: {
                    required: true
                }
            },
            messages: {
                template_no: {
                    required: "模板编号不能为空!",
                    remote: '模板编号已经存在!'
                },
                template_content: {
                    required: "模板内容不能为空!"
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                element.parent('div').append(error);
            },

            submitHandler: function (form) {
                //form.submit();
                $.post('/template/update', {
                    template_id: $('#template_id').val(),
                    template_no: $('#template_no').val(),
                    template_content: $('#template_content').val(),
                    template_desc: $('#template_desc').val()
                }, function (result) {
                    if (result.status == '0000') {
                        location.href = '/template';
                    }
                    else {
                        BootstrapDialog.show({
                            title: '提示',
                            message: '<i class="icon-model anticon anticon-cross-circle"></i>' +
                            '<span class="ant-confirm-title">' + result.message + '</span>',
                            type: BootstrapDialog.TYPE_DEFAULT,
                            onshow: function (dialogRef) {
                                setTimeout(function () {
                                    dialogRef.close();
                                }, 2000);
                            }
                        });
                    }
                })
            }
        });

//        $('.form-horizontal input').keypress(function (e) {
//            if (e.which == 13) {
//                if ($('.form-horizontal').validate().form()) {
//                    $('.form-horizontal').submit();
//                }
//                return false;
//            }
//        });
    });
</script>