<% include ../common/header.ejs %>

<div class="content" ng-app="myApp" ng-controller="appCtrl">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>消息模板</h4>
        </div>

        <div class="ant-table ant-table-large ant-table-scroll-position-left">
            <div class="ant-table-content">
                <div class="ant-table-body">
                    <table class="">
                        <thead class="ant-table-thead">
                        <tr>
                            <th class=""><span>模板编号</span></th>
                            <th class=""><span>模板内容</span></th>
                            <th class=""><span>模板状态</span></th>
                            <th class=""><span>创建日期</span></th>
                            <th class=""><span>描述</span></th>
                            <th class=""><span>操作</span></th>
                        </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                        <tr class="ant-table-row  ant-table-row-level-0" ng-repeat="item in table">
                            <td class="">
                                {{item.c_servicename}}
                            </td>
                            <td class="">
                                {{item.c_status | c_status}}
                            </td>
                            <td class="">{{item.c_apply_status | c_apply_status}}</td>
                            <td class="">{{item.c_apply_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="">{{item.c_approval_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="">
                                <span ng-if="item.c_status == 1 && item.c_apply_status == 0" ng-click="applyService($index)">
                                    <a href="#">申请</a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>

<script type="text/javascript">
    angular.module('myApp', ['angular-loading-bar'])
            .config(['$httpProvider', 'cfpLoadingBarProvider', function ($httpProvider, cfpLoadingBarProvider) {
                cfpLoadingBarProvider.includeSpinner = true;
                cfpLoadingBarProvider.latencyThreshold = 5;
            }])
            .run(function (cfpLoadingBar) {
                cfpLoadingBar.start();
                cfpLoadingBar.complete();

            })
            .controller('appCtrl', ['$scope', '$http', 'cfpLoadingBar', function ($scope, $http, cfpLoadingBar) {
                $scope.table = [];

                //查询所有用户
                $scope.getServiceList = function () {
                    $http.get('/getServiceList').success(function (result) {
                        if (result.status == '0000') {
                            $scope.table = result.data;
                        }
                    });
                }

                $scope.getServiceList();

                //申请
                $scope.applyService = function (index) {
                    var self = this.$parent;
                    BootstrapDialog.show({
                        title: '提示',
                        message: '<i class="icon-model anticon anticon-question-circle"></i>' +
                        '<span class="ant-confirm-title">确认申请该服务</span>',
                        buttons: [{
                            label: '取消',
                            cssClass: 'btn-model btn-default',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }, {
                            label: '确认',
                            cssClass: 'btn-model btn-ant',
                            action: function (dialogItself) {
                                $http.post('/applyservice', {
                                    serviceid: self.item.c_serviceid,
                                    servicename: self.item.c_servicename
                                }).success(function (result) {
                                    if (result.status == '0000') {
                                        self.item.c_apply_status = 1;
                                        self.item.c_apply_time = result.data;
                                    }
                                });
                                dialogItself.close();
                            }
                        }],
                        type: BootstrapDialog.TYPE_DEFAULT
                    });

                }

            }])
            .filter('c_status', function () {
                return function (input) {
                    switch (input) {
                        case 0:
                            return '未上线'
                            break;
                        case 1:
                            return '已上线'
                            break;
                    }
                }
            })
            .filter('c_apply_status', function () {
                return function (input) {
                    switch (input) {
                        case 0:
                            return '未申请'
                            break;
                        case 1:
                            return '申请中'
                            break;
                        case 2:
                            return '已获得'
                            break;
                    }
                }
            })
</script>