<% include ../common/header.ejs %>
<link rel="stylesheet" href="/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css"/>
<style type="text/css">
    .user-img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #cdcdcd;
        border-radius: 16px;
        background-color: #cdcdcd;
        text-align: center;
        margin-right: 5px;
    }

    .user-img i {
        font-size: 20px;
        line-height: 32px;
        color: #FFF;
    }
</style>
<div class="content" ng-app="myApp" ng-controller="appCtrl">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>服务审批</h4>
        </div>
        <div class="ant-search-input-wrapper" style="width: 200px;margin-bottom: 10px;">
            <span class="ant-input-group ant-search-input">
                <span class="ant-input-wrapper">
                    <input type="text" placeholder="账号名称" value="" class="ant-input"
                           ng-model="keyword">
                </span>
                <div class="ant-input-group-wrap">
                    <button type="button" ng-click="keywordSearch()" class="ant-btn ant-btn-icon-only ant-search-btn">
                        <i class="anticon anticon-search"></i></button>
                </div>
            </span>


        </div>


        <div class="ant-table ant-table-large ant-table-scroll-position-left">
            <div class="ant-table-content">
                <div class="ant-table-body">
                    <table class="">
                        <thead class="ant-table-thead">
                        <tr>
                            <th class=""><span>客户名称</span></th>
                            <th class=""><span>账号</span></th>
                            <th class=""><span>服务名称</span></th>
                            <th class=""><span>状态</span></th>
                            <th class=""><span>申请日期</span></th>
                            <th class=""><span>审批日期</span></th>
                            <th class=""><span>到期日期</span></th>
                            <th class=""><span>操作</span></th>
                        </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                        <tr class="ant-table-row  ant-table-row-level-0" ng-repeat="item in table">
                            <td class="">
                                {{item.c_customer}}
                            </td>
                            <td class="">
                                {{item.c_username}}
                            </td>
                            <td class="">
                                {{item.c_servicename}}
                            </td>
                            <td class="">
                                {{item.c_service_status | servicestatus}}
                            </td>
                            <td class="">{{item.c_apply_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="">{{item.c_approval_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="">{{item.c_dead_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="">
                                <span ng-if="item.c_service_status == 1">
                                    <a href="javascript:void(0);" ng-click="view()">审核</a>
                                    <!--<span class="ant-divider"></span>-->
                                    <!--<a>删除</a>-->
                                    <!--<a href="#" class="ant-dropdown-link">更多-->
                                        <!--<i class="anticon anticon-down"></i>-->
                                    <!--</a>-->
                                </span>
                                <span ng-if="item.c_service_status == 2">
                                    <a href="javascript:void(0);" ng-click="editDeadtime()">修改到期日期</a>
                                    <!--<span class="ant-divider"></span>-->
                                    <!--<a>删除</a>-->
                                    <!--<a href="#" class="ant-dropdown-link">更多-->
                                        <!--<i class="anticon anticon-down"></i>-->
                                    <!--</a>-->
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ul class="ant-pagination ant-table-pagination" unselectable="unselectable">
                <li style="display: inline-block;
                    float: left;
                    position: relative;
                    right: 10px;
                    top: 4px;">
                    <a>
                        <span>共{{param.count}}条</span>
                    </a>
                </li>
                <li title="上一页"
                    class="ant-pagination-prev"
                    ng-click="prev()"
                    ng-class="{1:'ant-pagination-disabled'}[param.pagenum]"><a></a></li>
                <li title="{{pag.key}}"
                    class="ant-pagination-item"
                    ng-class="{true:'ant-pagination-item-active'}[pag.active]"
                    ng-click="showpage()"
                    ng-repeat="pag in pagination"><a>{{pag.key}}</a></li>
                <li title="下一页"
                    class="ant-pagination-next"
                    ng-click="next()"
                    ng-class="{true:'ant-pagination-disabled'}[param.pagenum == param.pages]"
                        ><a></a></li>
            </ul>
        </div>


    </div>
</div>
<% include ../common/footer.ejs %>

<script type="text/javascript" src="/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/bootstrap-datetime-picker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    angular.module('myApp', ['angular-loading-bar'])
            .config(['$httpProvider', 'cfpLoadingBarProvider', function ($httpProvider, cfpLoadingBarProvider) {
                cfpLoadingBarProvider.includeSpinner = true;
                cfpLoadingBarProvider.latencyThreshold = 5;
            }])
            .run(function (cfpLoadingBar) {
                cfpLoadingBar.start();
                cfpLoadingBar.complete();

            })
            .controller('appCtrl', ['$scope', '$http', 'cfpLoadingBar', function ($scope, $http, cfpLoadingBar) {
                $scope.table = [];
                $scope.keyword = ''; //默认账号名
                $scope.filtes = {
                    utype1: false,
                    utype2: false
                }
                //查询参数
                $scope.param = {
                    pagenum: 1,    //页码
                    pagesize: 10,        //页大小
                    count: 0,
                    pages: 0,
                    searchParams: {
                        filters: [],
                        logic: 'AND'
                    }
                }

                //查询所有用户
                $scope.getAppApplyList = function () {
                    $scope.param.searchParams = {
                        filters: [],
                        logic: 'AND'
                    }
                    if ($scope.keyword != '') {
                        var array = [];
                        array.push({
                            filed: 'c_username', operator: 'like', value: $scope.keyword
                        });
                        $scope.param.searchParams['filters'] = array;
                    }
                    var fd_utype_filter = {
                        filters: [],
                        logic: 'OR'
                    };
                    if ($scope.filtes.utype1) {
                        fd_utype_filter.filters.push({filed: 'app_type', operator: 'eq', value: 1});
                    }
                    if ($scope.filtes.utype2) {
                        fd_utype_filter.filters.push({filed: 'app_type', operator: 'eq', value: 2});
                    }

                    if (fd_utype_filter.filters.length > 0) {
                        $scope.param.searchParams['filters'].push(fd_utype_filter);
                    }

                    $http.post('/getAllServiceList', $scope.param).success(function (result) {
                        if (result.status == '0000') {
                            $scope.table = result.data.datasouce;
                            $scope.param.pagenum = result.data.pagenum;
                            $scope.param.pages = result.data.pages;
                            $scope.param.pagesize = result.data.pagesize;
                            $scope.param['count'] = result.data.count;

                            $scope.pagination = [];
                            for (var i = 1; i <= $scope.param.pages; i++) {
                                $scope.pagination.push({
                                    key: i,
                                    active: i == $scope.param.pagenum ? true : false
                                })
                            }
                        }
                    });
                }

                $scope.getAppApplyList();

                //切换用户
                $scope.checkUType1 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.filtes.utype1 = !$scope.filtes.utype1;
                }
                $scope.checkUType2 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.filtes.utype2 = !$scope.filtes.utype2;
                }

                $scope.reset = function ($event) {
                    $event.stopPropagation();
                    $scope.filtes = {
                        utype1: false,
                        utype2: false
                    }
                }

                $scope.keywordSearch = function () {
                    $scope.getAppApplyList();
                }

                $scope.showpage = function () {
                    $scope.param.pagenum = this.pag.key;    //页码
                    $scope.getAppApplyList();
                }

                $scope.prev = function () {
                    if ($scope.param.pagenum > 1) {
                        $scope.param.pagenum--;
                        $scope.getAppApplyList();
                    }
                }

                $scope.next = function () {
                    if ($scope.param.pagenum < $scope.param.pages) {
                        $scope.param.pagenum++;
                        $scope.getAppApplyList();
                    }
                }

                $scope.view = function () {
                    var self = this;
                    var message = '<div id="datetimepicker" class="input-append date form_datetime">' +
                            '<input type="text" value="" class="form-control" style="width: 200px;">' +
                            '<span class="add-on"><i class="icon-th"></i></span>' +
                            '</div>';

                    BootstrapDialog.show({
                        title: '提示',
                        message: '<i class="icon-model anticon anticon-question-circle"></i>' +
                        '<span class="ant-confirm-title">确认审核通过该服务申请</span>',
                        buttons: [{
                            label: '取消',
                            cssClass: 'btn-model btn-default',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }, {
                            label: '审核',
                            cssClass: 'btn-model btn-ant',
                            action: function (dialogItself) {
                                $http.post('/approvalpc', {
                                    userid: self.item.c_userid,
                                    serviceid: self.item.c_serviceid
                                }).success(function (result) {
                                    if (result.status == '0000') {
                                        self.item.c_service_status = result.data.c_service_status;
                                        self.item.c_approval_time = result.data.c_approval_time;
                                        self.item.c_dead_time = result.data.c_dead_time;
                                    }
                                });
                                dialogItself.close();
                            }
                        }],
                        type: BootstrapDialog.TYPE_DEFAULT
                    });
                }

                $scope.editDeadtime = function () {
                    var self = this;
                    var message = '<div class="form-horizontal">' +
                            '<div class="form-group">' +
                            '<label for="inputEmail3" class="col-sm-2 control-label">到期日期</label>' +
                            '<div class="col-sm-10">' +
                            '<div id="datetimepicker" class="input-append date form_datetime">' +
                            '<input type="text" class="form-control" style="width: 200px;">' +
                            '<span class="add-on"><i class="icon-th"></i></span>' +
                            '</div></div>' +
                            '</div>';
                    console.log(self.item.c_dead_time)
                    BootstrapDialog.show({
                        title: '提示',
                        message: message,
                        onshown: function (dialog) {
                            $('#datetimepicker input').val(moment(self.item.c_dead_time).format('YYYY-MM-DD HH:mm:ss'));
                            $('#datetimepicker').datetimepicker({
                                language: 'zh-CN',
                                format: 'yyyy-mm-dd hh:ii:ss',
                                initialDate: moment(self.item.c_dead_time)
                            });
                        },
                        buttons: [{
                            label: '取消',
                            cssClass: 'btn-model btn-default',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }, {
                            label: '确定',
                            cssClass: 'btn-model btn-ant',
                            action: function (dialogItself) {
                                $http.post('/applyservice', {
                                    userid: self.item.c_userid,
                                    serviceid: self.item.c_serviceid,
                                    dead_time: $('#datetimepicker input').val()
                                }).success(function (result) {
                                    if (result.status == '0000') {
                                        self.item.c_apply_status = 1;
                                        self.item.c_apply_time = result.data;
                                    }
                                });
                                dialogItself.close();
                            }
                        }],
                        type: BootstrapDialog.TYPE_DEFAULT
                    });
                }
            }])
            .filter('servicestatus', function () {
                return function (input) {
                    switch (input) {
                        case 0:
                            return '未申请'
                            break;
                        case 1:
                            return '申请中'
                            break;
                        case 2:
                            return '已审批'
                            break;
                    }
                }
            })
</script>