<% include ../common/header.ejs %>

<div class="content">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>管理控制台</h4>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>