<% include ../common/header.ejs %>

<div class="content">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>控制台</h4>
        </div>
        <div class="row">
            <div class="col-md-5" style="padding-right: 0px;margin-bottom: 15px;">
                <div class="ant-card ant-card-bordered" style="width: 100%;">
                    <div class="ant-card-head">
                        <h3 class="ant-card-head-title">账户信息</h3>
                    </div>
                    <div class="ant-card-body account-info">
                        <p>
                            <label>名称：</label>
                            <span><%= session.customer %></span>
                        </p>
                        <p>
                            <label>账号状态：</label>
                            <span>正常</span>
                        </p>
                        <p>
                            <label>appKey：</label>
                            <span><%= session.appkey %></span>
                        </p>
                        <p>
                            <label>appScrect：</label>
                            <span><%= session.appscrect %></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-right: 0px;margin-bottom: 15px;">
                <div class="ant-card ant-card-bordered" style="width: 100%;">
                    <div class="ant-card-head">
                        <h3 class="ant-card-head-title">今日数据</h3>
                    </div>
                    <div class="ant-card-body diaoyong-info">
                        <p>
                            <label>调用次数：</label>
                            <span id="tatal">0</span>
                        </p>
                        <p>
                            <label>微信：</label>
                            <span class="msg-status success"></span>
                            <span id="wx_success" class="diaoyong-value">0</span>
                            <span class="msg-status fail"></span>
                            <span id="wx_fail" class="diaoyong-value">0</span>
                        </p>

                        <p>
                            <label>邮件：</label>
                            <span class="msg-status success"></span>
                            <span id="email_success" class="diaoyong-value">0</span>
                            <span class="msg-status fail"></span>
                            <span id="email_fail" class="diaoyong-value">0</span>
                        </p>

                        <p>
                            <label>短信：</label>
                            <span class="msg-status success"></span>
                            <span id="msg_success" class="diaoyong-value">0</span>
                            <span class="msg-status fail"></span>
                            <span id="msg_fail" class="diaoyong-value">0</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px;">
                <div class="ant-card ant-card-bordered" style="width: 100%;">
                    <div class="ant-card-head">
                        <h3 class="ant-card-head-title">公告信息</h3>
                    </div>
                    <div class="ant-card-body notice">
                        <p class="text">
                            <span class="circle"></span>
                            <a href="https://blog.yunpian.com/?p=60" target="_blank">
                                <span class="item" title="关于短信轰炸发现及处理办法告知！">
                                    关于短信轰炸发现及处理办法告知！
                                </span>
                                <span class="date">[置顶]</span>
                            </a>
                        </p>

                        <p class="text">
                            <span class="circle"></span>
                            <a href="https://blog.yunpian.com/?p=60" target="_blank">
                                <span class="item" title="关于短信轰炸发现及处理办法告知！">
                                    关于短信轰炸发现及处理办法告知！
                                </span>
                                <span class="date">[置顶]</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<% include ../common/footer.ejs %>

<script type="text/javascript">
    $.get('/getTodayData',function(result){
        if(result.status == '0000'){
            $('#total').html(result.data.total);
            $('#wx_success').html(result.data.wx_success);
            $('#wx_fail').html(result.data.wx_fail);
            $('#email_success').html(result.data.email_success);
            $('#email_fail').html(result.data.email_fail);
            $('#msg_success').html(result.data.msg_success);
            $('#msg_fail').html(result.data.msg_fail);
        }
    })
</script>