<% include ../common/header.ejs %>

<div class="content">
    <div class="sidle-left">
        <% include ../common/menu.ejs %>
    </div>
    <div class="sidle-right">
        <div class="title">
            <h4>管理控制台</h4>
        </div>
        <div class="ant-card ant-card-bordered" style="width: 400px;">
            <div class="ant-card-head">
                <h3 class="ant-card-head-title">账户信息</h3>
            </div>
            <div class="ant-card-body">
                <p>appKey：<%= appkey %></p>
                <p>appScrect：<%= appscrect %></p>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>