<% include ../common/header.ejs %>
<div class="container-body">
    <div class="container ">
        <% include ../common/nav.ejs %>
        <div class="row">
            <div class="col-md-2">
                <ul class="">
                    <li>应用概览</li>
                    <li>应用日志</li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="panel-table ant-table ant-table-body">
                    <table class="">
                        <thead class="ant-table-thead">
                        <tr>
                            <th>服务名称</th>
                            <th>服务状态</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script type="text/javascript">

</script>