<ul id="myTab" class="nav nav-pills nav-stacked">
    <li class="active"><a href="/my/app/p/36qmse6/notify">消息队列</a></li>
    <li><a href="/my/api/add/<%= list[0].fd_serviceid %>">发布Api</a></li>
</ul>