<% include ../common/header.ejs %>
<div class="container container-body">
    <div class="row">
        <% include ./header.ejs %>
        <div class="col-md-2">
            <% include ./menu.ejs %>
        </div>
        <div class="col-md-10">
            <!--<div class="panel panel-default panel-table">-->
                <!--<div class="panel-heading">-->
                    <!--<ul class="pagination">-->
                        <!--<li class="disabled"><a>«</a></li>-->
                        <!--<li class="disabled"><a>»</a></li>-->
                    <!--</ul>-->
                    <!--<a class="btn btn-primary btn-sm" href="/my/app/p/36qmse6/new-key">-->
                        <!--<i class="glyphicon glyphicon-plus"></i>-->
                        <!--添加新Key-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th width="30%">Key</th>-->
                            <!--<th>创建</th>-->
                            <!--<th>有效期</th>-->
                            <!--<th>Notes</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->

                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--&nbsp;-->
                    <!--<ul class="pagination">-->
                        <!--<li class="disabled"><a>«</a></li>-->
                        <!--<li class="disabled"><a>»</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
